export(blockSim)
export(breedFst)
export(calcFst)
export(checkFreqs)
export(exclusionPower)
export(ep)
export(errorRate)
export(fetchBMdata)
export(IBS)
export(locusIBS)
export(lrMix)
export(lrPC)
export(lrSib)
export(lrSibDebug)
export(normalizeFreqs)
export(print.population)
export(print.profile)
export(randomChild)
export(randomProfile)
export(randomSample)
export(randomSib)
export(randomPCPairs)
export(randomProfilePairs)
export(randomSibPairs)
export(readFreqs)
export(readResults)
export(sim)
export(toNexus)


## dynamic library load
useDynLib("relSim")
##useDynLib("breed")

